.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a.collapse-link{role: 'button', data: {toggle: 'collapse'}, href: "#restaurant_#{restaurant.id}", aria: {expanded: !current_user.collapsed?, controls: "#restaurant_#{restaurant.id}"}, class: ('collapsed' if current_user.collapsed?)}
        = link_to restaurant.name, restaurant_path(restaurant)
        - unless restaurant.telephone_number.nil?
          %span.phone
            = link_to restaurant.telephone_number, "tel:#{restaurant.telephone_number}"
    .panel-collapse.collapse{id: "restaurant_#{restaurant.id}", class: ('in' unless current_user.collapsed?)}
      .fixed-height
        %table.table.table-hover
          - if restaurant.todays_menus.empty?
            %tr
              %td.text-center
                - unless restaurant.menu_link.present?
                  No data
                - else
                  = link_to 'Menus', restaurant.menu_link, target: '_blank'
          - else
            - restaurant.todays_menus.each_with_index do |menu, i|
              %tr{class: ('info' if menu.regular?)}
                %td.col-md-1.text-left= i + 1
                %td.col-md-9.text-left= menu.description
                %td.col-md-1.text-right
                  = "#{menu.price}€" if menu.price.present?
                %td.col-md-1.text-right
                  - unless current_user.voted_menu?(menu.id)
                    = link_to 'V', vote_path(menu_id: menu), method: :post, class: 'btn btn-success btn-xs', title: 'Vote'
                  - else
                    = link_to 'U', vote_path, method: :delete, class: 'btn btn-danger btn-xs',  title: 'Unvote', data: {confirm: 'Are you sure?'}

    .panel-footer
      .row
        .col-md-2
          - unless current_user.voted?(restaurant.id)
            = link_to 'Vote', vote_path(restaurant_id: restaurant), method: :post, class: 'btn btn-success'
          - else
            = link_to 'Unvote', vote_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}
        .col-md-10.text-right
          %h5
            No. of votes
            %span.badge
              = restaurant.today_votes_number(current_user)
        .col-md-12.text-right
          - restaurant.voters(current_user).each do |voter|
            %span.badge{data: {toggle: 'tooltip', placement: 'bottom'}, title: voter.username}
              = voter.initials
