.col-md-9
  - if @restaurants.empty?
    .text-center
      = link_to 'Add restaurants', group_path, class: 'btn btn-success'
  - @restaurants.each_slice(3) do |restaurants|
    .row.row-eq-height.restaurants
      = render partial: 'restaurant', collection: restaurants
.col-md-3
  .row
    .col-md-12
      = render partial: 'top_5'
    .col-md-12
      = render partial: 'comments'
    .col-md-12
      = render partial: 'balance_table' if current_group.balance_table?
    .col-md-12
      = render partial: 'last_3_days'
