.row
  .col-md-4.col-md-offset-4
    = form_for @menu, url: {action: 'create'} do |f|
      .form-group
        = f.text_field :description, autofocus: true, class: 'form-control', placeholder: 'Description'
      .form-group
        .input-group
          .input-group-addon
            %span.glyphicon.glyphicon-euro
          = f.number_field :price, class: 'form-control', step: 'any'
      .form-group
        .input-group
          .input-group-addon
            %span.glyphicon.glyphicon-calendar
          = f.date_field :date, class: 'form-control'
      = f.hidden_field :restaurant_id
      = f.submit "Save", class: 'btn btn-success'
      = link_to 'Back', restaurant_path(@menu.restaurant), class: 'btn btn-danger'