.row
  .col-md-4.col-md-offset-4
    = form_for @group, url: {controller: 'admin', action: 'create_group'} do |f|
      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
      .form-group
        = f.text_field :sr_id, class: 'form-control', placeholder: 'Shortreckonings ID'

      = f.fields_for :user do |ff|
        .form-group
          = ff.text_field :username, class: 'form-control', placeholder: 'Username', required: true
      = f.submit 'Save', class: 'btn btn-success'
