.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Update info
    = form_for @group, url: {controller: 'groups', action: 'update'}, method: :put do |f|
      .panel-body
        .form-group
          %label{for: 'group_name'}
            Group name
          = f.text_field :name, class: 'form-control', required: true
        .form-group
          %label{for: 'group_sr_id'}
            Shortreckonings ID
          = f.text_field :sr_id, class: 'form-control', placeholder: 'Shortreckonings ID'
      .panel-footer
        = f.submit 'Update', class: 'btn btn-success'
.col-md-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Users
    %table.table.table-hover
      - @group.users.each do |user|
        %tr
          %td= user.username
    .panel-footer
      = form_for @user, url: {controller: 'groups', action: 'add_user'}, html: {class: 'form-inline'}, required: true do |f|
        .form-group
          = f.text_field :username, class: 'form-control', placeholder: 'Username'
        = f.submit 'Add', class: 'btn btn-success'
.col-md-4
  = render partial: 'restaurants'
