%tr
  %td.col-md-10
    = link_to restaurant.name, restaurant_path(restaurant)
  %td.text-right
    = restaurant.default_price
  %td.text-right
    - unless restaurant.kamjest_id.nil?
      = link_to restaurant_update_menus_path(restaurant) do
        %span.glyphicon.glyphicon-refresh
    = link_to edit_restaurant_path(restaurant) do
      %span.glyphicon.glyphicon-pencil
    = link_to restaurant_path(restaurant), method: :delete, data: {confirm: 'Are you sure?'} do
      %span.glyphicon.glyphicon-remove.text-danger
