.panel.panel-default.votes
  .panel-heading
    %h3.panel-title
      Votes
  %table.table.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %td Restaurant
        %td Menu
        %td Username
    - @menus.each do |_, menu|
      %tr{class: ('success' if menu[:restaurant].id == @top_restaurant_id)}
        %td
          = link_to menu[:restaurant].name, restaurant_path(menu[:restaurant])
          - unless menu[:restaurant].telephone_number.nil?
            %span.phone
              = link_to "(#{menu[:restaurant].telephone_number})", "tel:#{menu[:restaurant].telephone_number}"
        %td
          - if menu[:text].present?
            = "#{menu[:voters].length} x #{menu[:text]}"
        %td
          = menu[:voters].join(', ')
