!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Where to eat?!
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet")
    %script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js")
  %body
    .container-fluid
      = render 'shared/navigation' if user_signed_in?
      #alerts
      - flash.each do |type, msg|
        .alert.alert-dismissible{role: 'alert', class: flash_class_mapper(type)}
          %button.close{type: 'button', data: { dismiss: 'alert'}, aria: {label: 'Close'}}
            %span{aria: {hidden: 'true'}}
              &times;
          = msg
      = yield
